<h1>ID: <%= @task.id %> のタスク編集ページ</h1>
  <div class="row">
    <aside class="col-md-4">
      <%= form_for(@task) do |f| %>
        <div class="form-group">
          <f.label class ="control-label">ステータス</f.label>
          <%= f.text_area :status, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group">
          <f.label class ="control-label">タスク</f.label>          
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-xs-8">
  </div>    